---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="-z-10 fixed inset-0 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] bg-white [background-size:16px_16px] bg-repeat min-h-screen"></div>
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/**color-scheme: light dark;**/
	
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		font-family: system-ui, sans-serif;
	
		
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
		color:rgb(55, 54, 54) ;

	}
	/* Para Webkit (Chrome, Safari, etc) */
	::-webkit-scrollbar {
	width: 8px;
	}

	::-webkit-scrollbar-track {
	background: transparent;
	}

	::-webkit-scrollbar-thumb {
	background: rgb(249 168 212); /* Este es el color pink-300 de Tailwind */
	border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
	background: rgb(244 114 182); /* Este es el color pink-400 de Tailwind para el hover */
	}

	/* Para Firefox */
	* {
	scrollbar-width: thin;
	scrollbar-color: rgb(249 168 212) transparent;
	}
</style>
