---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="flex flex-col items-start gap-x-4 mx-auto py-32 w-full lg:w-[700px]">
			<h1 class="flex-row justify-center pb-4 font-bold text-5xl">Hey!, I'm Enma<div class="flex justify-center items-center"><Badge>Aviable to hire</Badge></div></h1>
			<h2 class="text-justify">I’m a recent DAM graduate wi th a strong passion for design and a goal of becoming a front-end developer. While I don’t have professional experience yet, I’m eager to learn, grow, and contribute to exciting projects. My background in fashion design, along with my technical studies, has sharpened my creativity and attention to detail—skills I’m excited to bring to the world of web development. I’m enthusiastic, hardworking, and ready to take on new challenges to build a successful career in tech</h2>
		</section>
	</main>
</Layout>


